<div class="gloo-imageOverlay">
    {{#if image}}
        {{>gloo-infiniteImage image}}
    {{/if}}

    {{#if overlay}}
        <div class="gloo-imageOverlay-overlay">
            {{>gloo-textOverlay overlay}}
        </div>
    {{/if}}
</div>