<div class="gloo-imageOverlay">
    {{#if image}}
        {{>gloo-infiniteImage image}}
    {{/if}}
    <div class="gloo-imageOverlay-overlay">
        {{>gloo-textOverlay overlay}}
    </div>

</div>